<div class="col-3 card shadow">
    <div class="row">
        <a class="btn border-primary" href="/Admin/Orders">Заказы:</a>
    </div>
    <div class="row">
        <a class="btn border-primary" href="/Admin/Users">Пользователи:</a>
    </div>
    <div class="row">
        <a class="btn border-primary" href="/admin/Roles">Роли:</a>
    </div>
    <div class="row">
        <a class="btn border-primary" href="/Admin/Products">Товары:</a>
    </div>
</div>