<form method="post">
    <div class="col text-center">
    <div>
         <label><h5>Логин:</h5></label>
            <br />
         <input type="text" name="UserName" />
    </div>

     <div>
    <label><h5> Пароль:</h5></label>
            <br />
    <input type="password" name="Password" />
    </div>
     <div>
         <label>Запомнить меня:</label>
         <input type="checkbox" name="isRemembMe"
     </div>
        <br />
        <button class="btn-success" type="submit" name="submit" asp-controller="Accaunt" asp-action="Login">Войти</button>
</div>
</form>