@model LoginModel

<form method="post">
    <div class="validation" asp-validation-summary="ModelOnly"></div>
    <div class="col text-center">
    <div>
         <label asp-for="UserName" ><h5>Логин:</h5></label>
            <br />
         <input class="col-3" asp-for="UserName"/>
            <div><span asp-validation-for="UserName"></span></div>
    </div>

     <div>
    <label asp-for="Password"><h5> Пароль:</h5></label>
            <br />
    <input class="col-3" type="password" asp-for="Password"/>
            <div><span asp-validation-for="Password"></span></div>
    </div>
     <div>
         <label asp-for="isRemembMe">Запомнить меня:</label>
         <input asp-for="isRemembMe"/>
     </div>
     <div>
        <button class="border-success col-3" type="submit" name="submit" asp-controller="Accaunt" asp-action="Login">Войти</button>
     </div>
     <div>
        <a  href="/Accaunt/ResetPassword" class="btn shadow">Сброс пароля.</a>
         <a class="btn shadow" href="/Accaunt/Register" target="_blank">Регистрация.</a>
     </div>
</div>
</form>