
<form method="post">
    <div class="col text-center">
    <div>
         <label><h5>Логин:</h5></label>
            <br />
         <input class="col-3" type="text" name="UserName" minlength="6" />
    </div>

     <div>
    <label><h5> Пароль:</h5></label>
            <br />
    <input class="col-3" type="password" name="Password"/>
    </div>
     <div>
         <label>Запомнить меня:</label>
         <input type="checkbox" name="isRemembMe" />
     </div>
     <div>
        <button class="border-success col-3" type="submit" name="submit" asp-controller="Accaunt" asp-action="Login">Войти</button>
     </div>
     <div>
        <a  href="/Accaunt/ResetPassword" class="btn shadow">Сброс пароля.</a>
         <a class="btn shadow" href="/Accaunt/Register" target="_blank">Регистрация.</a>
     </div>
</div>
</form>