@model RegisterModel

<form method="post">
    <div class="col text-center">

     <div>
            <label>Email:</label>
            <br />
            <input class="col-3" type="email" name="Email"  minlength="5" maxlength="25" />
     </div>

    <div>
         <label><h5>Логин:</h5></label>
           <br />
         <input class="col-3" type="text" name="UserName" minlength="6" maxlength="20" />
    </div>

     <div>
        <label><h5> Пароль:</h5></label>
          <br />
        <input class="col-3" type="password" name="Password" minlength="6" maxlength="20" />
    </div>

     <div>
         <label>Подтверждение пароля:</label>
            <br />
         <input class="col-3" type="password" name="ConfirmPassword" asp-for="ConfirmPassword" minlength="6" maxlength="20" />
     </div>

     <div>
         <label>ФИО:</label>
            <br />
            <input class="col-3" type="text" name="Name" minlength="6" maxlength="35"/>
     </div>

     <dev>
            <label>Номер телефона:</label>
            <br />
            <input class="col-3" type="tel" name="PhoneNumber" min="9" max="20" />
     </dev>


     <div>
        <button class="btn-success col-3" type="submit" name="submit" asp-controller="Accaunt" asp-action="Register">Зарегистрироваться</button>
     </div>
</div>
</form>